<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="spring example" type="Application" factoryName="Application">
    <option name="ALTERNATIVE_JRE_PATH" value="21" />
    <option name="ALTERNATIVE_JRE_PATH_ENABLED" value="true" />
    <envs>
      <env name="SUPERSTREAM_TOPICS_LIST" value="example-topic,idan" />
      <env name="SUPERSTREAM_DEBUG" value="true" />
    </envs>
    <option name="MAIN_CLASS_NAME" value="ai.superstream.SpringKafkaExample" />
    <module name="spring-kafka-example" />
    <option name="VM_PARAMETERS" value="-javaagent:$PROJECT_DIR$/superstream-clients/target/superstream-clients-1.0.201.jar" />
    <option name="WORKING_DIRECTORY" value="$PROJECT_DIR$/examples/spring-kafka-example" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>